@import "tailwindcss";

/* Définition de breakpoint personalisé pour faire notre reponsive design */

@theme {
    --breakpoint-tab:790px;
    --breakpoint-phone:548px;
}
  

.btn_details{
     @apply  hover:bg-green-600 transition duration-300 bg-green-700 text-white p-1 text-center hover:cursor-pointer shadow-md 
    
    max-tab:hidden
}


.btn_commencer{
    
    @apply  hover:bg-blue-400  transition duration-300 bg-blue-200 text-white text-center p-1 hover:cursor-pointer shadow-md
    
    max-tab:hidden
}

.btn_supprimer{

   @apply hover:bg-red-900 transition duration-300 bg-red-800 text-white p-1 text-center hover:cursor-pointer shadow-md

   max-tab:hidden
}


.items{
    @apply pt-1
}
.div{

    @apply bg-zinc-200 w-190 flex h-15 shadow-md items-center gap-10 pl-1.5   m-auto mt-2 max-tab:w-4/5 max-tab:mx-auto ;
    
    font-size: 18px;
    
  }
.input{
    @apply border-b-1 w-100 max-phone:w-2/3 max-phone:mr-2
}
.label{
    @apply text-zinc-800
}
@media (width<580px) {
    .label{
        font-size:12px ;
}}
.time{
    @apply border-b-1 w-1/4
}
.time:focus{
    @apply border-b-2
}
#hidden{
    display: none;
}
.span{
    @apply pr-2 text-zinc-500
}
.det{
    display: none;
}
.btn{
    @apply p-2 rounded-3xl w-30 shadow-2xs
}
.btn:hover{
    @apply scale-110 cursor-pointer ring-1 ring-white
}

.time_{
    @apply font-serif text-5xl

}